.introduction-bg {
    background-color: var(--color-bg);
    margin-top: 4rem;
}

.introduction {
    padding: 60px 20px;
}

.introduction h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-primary);
}

.introduction p {
    max-width: 70ch;
    margin: 0 auto 30px auto;
    color: var(--color-text);
}
.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media img {
    width: 40px;
}

@media (max-width: 800px) {
    .introduction h1 {
        font-size: 2.3rem;
        text-align: start;
    }

}

@media (max-width: 400px) {
    .introduction h1 {
        font-size: 1.5rem;
    }

    .social-media {
        justify-content: left;
    }
}