.skills {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 150px auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skills p {
    border-right: 1px solid var(--color-text2);
    font-weight: bold;
    padding-right: 10px;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tech-icons li {
    width: 50px;
    height: 50px;
    background-color: var(--color-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tech-icons img {
    width: 32px;
}

/* DARK */
/* .dark .skills{
    background-color: var(--color-bg-dark2);
    color: var(--color-white);
    margin: 50px auto 150px auto;

}

.dark .container.skills article  {
    background-color: var(--color-bg-dark2);
    color: var(--color-white);
}  

.dark .tech-icons li {
    background-color: var(--color-bg-dark2);
}

.dark .introduction p {
    color: var(--color-white);
}

.dark .tech-icons img {
    filter: invert(100%) sepia(3%) saturate(223%) hue-rotate(265deg) brightness(118%) contrast(100%);;
} */