@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    color: #2d2e32;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}