:root {
    --color-bg: #fff;
    /*--color-bg-dark: #232c35; */
    --color-bg-dark: #262626;
    /* --color-bg-dark2: #363636; */
    --color-bg-dark2: #202020;
    /* --color-bg-secundary: #2d2e32; */
    --color-bg-secundary: #111111;
    --color-bg-primary: #9400d3;
    --color-bg-projects: #f5f5f5;

    --color-primary: #9400d3;
    --color-secundary: #2d2e32; 
    --color-white: #fff;
    --color-text: #555;
    --color-text2: #111111;
    --color-text-p: #767676;
}